<div>
  <div class="user-info">
    <% if user.photo.attached? %>
      <img src="<%=(url_for(user.photo)) %>", style="width:60px; height:60px;">
    <% end %>
    <%= link_to  user.name, "/users/#{user.id}" %> <br>
    <span>Posts Counter:</span>
    <%= user.posts_counter %>
  </div>
</div>
