<section class="container">
  <%@users.each do |user| %>
      <div class="user-info">
          <div>
              <img src=<%= user.photo %> >
          </div>
          <div>
               <%= link_to user.name, "/users/#{user.id}", class: "user" %>
              <span>Number of Posts:</span><%=user.posts_counter%><br>
          </div>
      </div>
  <%end%>
  <%= link_to "posts/new"  do %>
    <button type="button" class="all-posts">Create a New Post</button>
  <% end %>
</section>