<div class="d-flex flex-column justify-content-center">

  <% if user_signed_in? %>
    <%= button_to(
      "Log Out",
      destroy_user_session_path,
      method: :delete,
      class: "btn btn-primary"
    )%>
      <% @users.each do |user| %>
        <div>
          <% if user.photo.attached? %>
            <img src="<%=(url_for(user.photo)) %>", alt="user-image", style="width:60px; height:60px;">
          <% end %>
        </div>
        <%= link_to  user.name, "/users/#{user.id}" %> <br>
        <span>Posts Counter:</span>
        <%= user.posts_counter %>
      <% end %>
    <% else %>
      <a href="users/sign_in">Sign In</a>
    <% end %>
</div>