<section>
  <div class="user-info">
    <div>
        <img src=<%=@user.photo%>>
    </div>
    <div>
        <span><%=@user.name%></span>
        <span><%=@user.posts_counter%></span>
    </div>
  </div>
</section>