<div>
  <%= link_to post.title, "/users/#{@user.id}/posts/#{post.id}" %>
  <div><%= post.text %></div>  
  <div>Comments: <%= post.comments_counter %></div>
  <div>Likes: <%= post.likes_counter %></div>
</div>