<section>
  <main>
        <div>
            <%= render "users/user", user:@user%>
        </div>
        <div>
        <% @user.posts.each do |post| %>
            <%= render "post", post: post %>
            <% post.most_recent_comments.each do |comment| %>
                <div><%= comment.text %></div>
            <% end %>
        <% end %>
        </div>


    <%= link_to users_path do %>
        <button class="btn btn-primary">Pagination</button>
    <%end%>
    
  </main>
<section>

