<section>
  <div class="user-info">
    <div class="user-img">
        <img src=<%=@user.photo%>>
    </div>
    <div class="user-content">
        <span><%=@user.name%></span>
        <span>Number of Posts:<%=@user.posts_counter%></span>
    </div>
  </div>
</section>