<section>
  <main>
        <div>
            <%= render "users/user", user:@user%>
        </div>
        <div>
        <% @user.posts.each do |post| %>
            <%= render "post", post: post %>
            <% post.most_recent_comments.each do |comment| %>
                <span><%= comment.text %></span>
            <% end %>
        <% end %>
        </div>
  </main>
<section>

